h1 {
    text-align: center;
    font-size: 3em;
    margin: 5%;
}

ul {
    display: flex;
}

li {
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    padding: 5px;
}

img {
    width:300px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

section {
    width: 30%;
    margin: 1%;
}
