* {
    font-family: 'Righteous', cursive;
}

ul {
    display: flex;
}

li {
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    padding: 5px;
}

img {
    width:300px;
}

img {
    float:left;
}

main{
    overflow: hidden;
}

section {
     float: left;
     width: 300px;
 }

section:nth-child(3n) {
    float: right
}

